html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: repeat;
}

section {
    margin-bottom: 50px !important;
}

h1 {
    font-size: 50px;
    margin: 0;
}

header {
    background: white;
}

header {
    padding: 25px;
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* header:hover {
    background-color: blue;
} */

header img {
    /* opacity: 1; */
    
    transition: 2s;
}

.image_holder {
    display: block;
    margin: auto;
    max-width: 300px;
    width: 70%;
    min-width: 150px;
    width: fit-content;
    transition: 2s;
    position: relative;
}

.image_holder:hover img {
    opacity: 0;
}

.image_holder:hover #why {
    opacity: 1 !important;
}

#why {
    border: 20px solid yellow;
    background-color: black;
    color: white;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}

header h1, h3 {
    text-align: center;
}

/* #igs {
    margin-top: 30px;
} */

#about {
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    column-gap: 2rem;
    /* flex: 1; */
    justify-content: space-between;
}

.about_img_holder {
    flex: 1 1 0;
    flex-grow: 1;
    width: 30%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
  /* width: 0; */
}

.overlay {
    border-width: 0px;
    border-style: inset;
    border-color: yellow;
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.7);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.about_img_holder img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.about_img_holder:hover img {
    transform: scale(1.4);
}

.about_img_holder:hover .overlay {
    opacity: 1;
    border-width: 20px;
}



.about_text {
    padding: 50px;
    background: yellow;
    flex: 1 1 0;
    box-sizing: border-box; 
    border: solid 3px yellow;
    transition: 1s;
    /* user-select: ; */
}

::selection {
    color: black;
    background: yellow;
  }

.about_text:hover {
    background: none;
    /* background-position: bottom; */
    color: yellow;

}

#projects h1 {
    color: white;
    text-align: center;
}

#projectsGrid {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    /* column-gap: 0.1rem; */
    gap: 1rem;
}

#projectsGrid img, .card {
    min-width: 260px;
    min-height: 260px;
    max-width: 260px;
    max-width: 260px;
    flex: 0 0 auto;
}

.card h2 {
    text-align: center;
}

#projectsGrid img {
    background: white;
    width: 10%;
}

.card {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.card:nth-child(2){
    background: rgb(47, 47, 170);
    color: white;
}
.card:nth-child(4){
    background: rgb(47, 47, 170);
    color: white;
}
.card:nth-child(5){
    background: rgb(47, 47, 170);
    color: white;
}
.card:nth-child(7){
    background: rgb(47, 47, 170);
    color: white;
}

.card:hover {
    background: yellow;
    color: black;
}


#spies h1 {
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

#spyDiv{
    padding: 50px;
    background-color: white;
    width: 80%;
    display: block;
    margin: auto;
}

#spyDiv table {
    width: 80%;
    /* margin: 40px; */
    margin: auto;
    row-gap: 30px;
    border-collapse:separate; 
    border-spacing: 0 30px;
    /* width: fit-content; */
}

#spyDiv table tr {
    transition: 0.5s;
}

#spyDiv table tr:hover {
    background-color: black;
    color: yellow;
}

#spyDiv table td {
    padding-left: 30px;
    font-size: 18px;
}

#educationAndSkills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4rem;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

#educationAndSkills h2{
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
}

#educationAndSkills table {
    width: 100%;
    padding-left: 20px;
}

#educationAndSkills table td {
    padding-bottom: 20px;
    font-size: 17px;
}

#education {
    padding: 60px;
    background-color: white;
    flex: 1;
    border: 2px solid white;
    transition: 1s;
}

#education:hover {
    background-color: black;
    color: yellow;
    border-color: yellow;
}

#skills {
    padding: 60px;
    background-color: white;
    border: 2px solid white;
    flex: 1;
    transition: 1s;
}

#skills:hover {
    background-color: black;
    color: yellow;
    border-color: yellow;
}

#afterword {
    border: 20px solid yellow;
    margin-bottom: 200px !important;
    margin-top: 100px !important;
    width: 80%;
    display: block;
    margin: auto;
}

#afterword h1 {
    color: white;
    text-align: center;
}


footer {
    /* mix-blend-mode: difference; */
    z-index: 2;
    height: 80px;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 1s;
    overflow: hidden;
}

.darkFT {
    background-color: black;
    color: yellow;
    border-top: 20px solid yellow;
    height: 300px;
    position: static;
}

.darkFT #navLinks li a {
    color: yellow;
}

#navLinks {
    justify-self: flex-start;
    list-style: none;
    display: flex;
    width: 20%;
    max-width: 300px;
    min-width: 250px;
    justify-content: space-between;
}

#navLinks li a {
    text-decoration: none;
    
    color: rgb(47, 47, 170);
    font-size: 20px;
}

#navLinks li a:hover {
    background: yellow;
    color: black;
}

#footerLogo {
    position: absolute;
    right: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* justify-self: flex-end; */
    /* margin-left: auto; */
    /* list-style: none;
    display: flex; */
    /* justify-content: space-between; */
    /* margin-right: 20px; */
    width: fit-content;
    max-width: 200px;
}

#footerLogo img {
    width: 100%;
}

.invisible {
    display: none;
}